@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #fef9e7;
  --color-brand-100: #fdeeb5;
  --color-brand-200: #f9d44c;
  --color-brand-300: #f5b306;
  --color-brand-400: #dea005;
  --color-brand-500: #b98504;
}
